$theme-colors: ("primary": #f00, "secondary": #0f0, "light": #00f);
// Body
$body-bg: map_get($theme-colors, "light");

// Typography
$font-size-base: 15px;
$font-weight-base: 400, normal;
$font-family-sans-serif: 'Archivo Narrow', sans-serif;
$headings-font-family: 'Archivo Black', sans-serif;
$headings-font-weight: 400;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius-large: 0;
$border-radius-base: 0;
$custom-select-border-radius: 0;
$enable-rounded: false;
$badge-padding-x: 10px;
$badge-padding-y: 5px;
