//$theme-colors: ("primary": #197BBD, "secondary": #C2B8B2, "light": #125E8A);
//$theme-colors: ("primary": #99E1D9, "secondary": #F0F7F4, "light": #32292F);
$theme-colors: ("primary": #295ac9, "secondary": #F0F7F4, "light": #32292F);
// Body
$body-bg: map_get($theme-colors, "light");

// Typography
$font-size-base: 15px;
$font-weight-base: 400, normal;
$font-family-sans-serif: 'Archivo Narrow', sans-serif;
$headings-font-family: 'Archivo Black', sans-serif;
$headings-font-weight: 400;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius-large: 0;
$border-radius-base: 0;
$custom-select-border-radius: 0;
$enable-rounded: false;
$badge-padding-x: 10px;
$badge-padding-y: 5px;
